body {
	background-color:lightgreen;
    background-image: url("paper.png");
    background-repeat: no-repeat;
    background-position: right top;
}

h1 {
	color: #000000;
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
}

th {
	color: #000000;
	font-family: "Times New Roman", Georgia, Serif;
	padding: 10px 10px 10px;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
}

th:hover {
	background-color:#993300;
}

p {
	font-family: "Times New Roman", Georgia, Serif;
}

h2 {
	color: #000000;
	font-family: "Times New Roman", Georgia, Serif;
}

td {
	text-align: center;
}
